/*.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}*/

#output-clientside {
    display: none;
}

html {
    font-size: 16px;
    line-height: 1.5;

    -ms-touch-action: none !important;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern";

    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
    hyphens: auto;
    -webkit-hyphens: auto;

    line-height: inherit;
    font-weight: normal;
    font-family: "Dosis", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fbfcfd;
}

/* Basics */

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

p {
    margin: 0.25rem 0;
    font-size: 0.8rem;
    line-height: 1.35;
    font-weight: 400;
}

.figure {
    margin: 0;
    white-space: nowrap;
}
.figure span {
    display: inline-block;
}
.figure .value {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: bold;
    margin-right: 0.25rem;
}

.figure .unit {
    font-size: 1rem;
    position: relative;
    top: -0.5rem;
    font-weight: 400;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
}
.header span {
    display: inline-block;
}
.header__subtitle {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #777;
}



/* Main */
.main {
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas:
        "w w w w w w aw aw aw aw aw aw"
        "w w w w w w aw aw aw aw aw aw"
        "p p p p gr gr gr gr m m m m";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

/* Box */
.box {
    display: flex;
    flex-direction: column;
}
.box__header {
    /*display: flex;
    justify-content: space-between;*/
}
.box__title {
    font-size: 1rem;
    margin: 0 0 0.5rem 0.25rem;
    text-transform: uppercase;
}
.box__inner {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .125);
}
.box__inner--simple {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
}

.box__subtitle {
    font-size: 0.85rem;
    margin: 0 0 0.5rem 0;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 0.5rem;
}
.box__smalltitle {
    font-size: 0.75rem;
    margin: 0 0 0.25rem 0;
    text-align: left;
    text-transform: uppercase;
    color: #777;
}
.value-box {

}
.value-box p {
    margin-top: 0;
}

/* Switcher */
.station-switcher__options {
    display: flex;
}
.station-switcher__options label {
    display: block;
    /*padding: 0.75rem 1.5rem;*/
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #666;
    transition: color 300ms ease-in-out;
}
.station-switcher__options label:hover {
    /*background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);*/
    color: #000;
}
.station-switcher__options label:focus {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}
.station-switcher__options label input {
    margin-right: 0.5rem;
}
.station-switcher__options label input:checked {

}




/* Graphs */
.graph {

}
.graph--bled-off {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.graph--bled-off-left {
    margin-left: -1.5rem;
}
.graph--bled-off-right {
    margin-right: -1.5rem;
}

/* Air temperature and windchill */
.air-temperature-and-windchill {
    grid-area: aw;
}
.air-temperature-and-windchill__graph-wrapper {
    background: linear-gradient(0deg, rgba(230,243,252,1) 0%, rgba(183,203,231,1) 100%);
}
.air-temperature-and-windchill__values {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: grid;
    grid-row-gap: 0.75rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'lv h'
        'fc fc';
    grid-template-rows: auto;
}
.air-temperature-and-windchill__last-values {
    grid-area: lv;
}
.air-temperature-and-windchill__historical-values {
    grid-area: h;
}
.air-temperature-and-windchill__last-values-grid {
    display: grid;
    grid-row-gap: 0.75rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
}
.air-temperature-and-windchill__predicted-values {
    grid-area: fc;
}
.air-temperature-and-windchill__predicted-values-grid {
    display: grid;
    grid-row-gap: 0.75rem;
    grid-column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
}


.figure--windchill-last {
    color: #847dde;
}
.figure--air-temperature-last {
    color: rgb(255, 119, 161);
}



/* Wind speed, gust and force and wind rosed */
/* grid layouting */
.wind-speed-gust-and-force {
    grid-area: w;
}
.wind-speed-gust-and-force__graph-wrapper {
    background: linear-gradient(0deg, rgba(242, 215, 217,1) 0%, rgba(189, 222, 231,1) 100%);
}
.wind-speed-gust-and-force__graph-wrapper-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
}
.wind-speed-gust-and-force__values {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: grid;
    grid-row-gap: 0.75rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'lv h'
        'w p';
    grid-template-rows: auto;
}
.wind-speed-gust-and-force__last-values {
    grid-area: lv;
}
.wind-speed-gust-and-force__last-values-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.wind-speed-gust-and-force__predicted-values-grid {
    grid-area: w;
}
.wind-speed-gust-and-force__predicted-values-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.barometric-pressure__historical-values {
    grid-area: h;
}
.barometric-pressure__predicted-values {
    grid-area: p;
}
.figure--wind-speed-last {
    color: #069dce;
}
.figure--wind-gust-last {
    color: #0275a0;
}
.figure--wind-force-last {
    color:rgb(0, 0, 0);
}







/* Precipitation */
/* grid layouting */
.precipitation {
    grid-area: p;
}
.precipitation__graph-wrapper {
    background: linear-gradient(0deg, rgba(209, 242, 250,1) 0%, rgba(179, 215, 234,1) 100%);
}
.precipitation__graph-wrapper-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
}
.precipitation__values {
    padding: 0.5rem 1.5rem;
}




/* Global radiation */
/* grid layouting */
.global-radiation {
    grid-area: gr;
}
.global-radiation__graph-wrapper {
    background: linear-gradient(0deg, rgba(231, 236, 211,1) 0%, rgba(226, 205, 198,1) 100%);
}
.global-radiation__graph-wrapper-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
}
.global-radiation__values {
    padding: 0.5rem 1.5rem;
}




/* Air temperature and windchill */
.more {
    grid-area: m;
}
.more__values {
    padding: 0 0.5rem;

}
.more__last-values {
    grid-area: lv;
}
.more__last-values-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}



