/*.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}*/

#output-clientside {
    display: none;
}

html {
    font-size: 16px;
    line-height: 1.5;

    -ms-touch-action: none !important;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern";

    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;

    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
    hyphens: auto;

    line-height: inherit;
    font-weight: normal;
    font-family: "Dosis", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fbfcfd;
}

.section {
    padding: 1rem 3rem;
    position: relative;
    z-index: 2;
}

/* Intro */
.section--intro {
    padding: 0;
}

/* Temperature and wind */
.section--temperature-and-wind {
    padding-top: 0;
}
.section__inner--temperature-and-wind {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}


/* General */
.section--general {
    padding-top: 0;
}
.section__inner--general {
    padding: 1rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
}

/* Wind */
.section--wind {
    background-color: #fff;
}
.section__inner--wind {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
        "wind-speed wind-speed wind-rose wind-rose wind-histogram wind-histogram";
    grid-template-rows: 1fr;
}

.wind-graphs {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
        "wind-speed wind-speed wind-direction";
    grid-template-rows: 1fr;
}
.graph--wind-speed {
    grid-area: "wind-speed";
}
.graph--wind-direction {
    grid-area: "wind-direction";
}



.section--prosa {
    background-color: #062b4a;
    color: #fff;
}

.section__inner--prosa {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.figure--wind-speed {
    grid-area: wind-speed;
}
.figure--wind-rose {
    grid-area: wind-rose;
}
.figure--wind-histogram {
    grid-area: wind-histogram;
}
.section--stuff {
}


.box {

}
.box--temperature-and-wind {
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 70px rgba(0, 0, 0, .1);
    padding: 1.5rem 1.75rem;
}
.box__title {
    font-size: 1rem;
    margin: 0 0 0.75rem 0;
    text-transform: uppercase;
}


.figure {
    margin: 0;
}
.figure span {
    display: inline-block;
}
.figure .value {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.25rem;
}
.figure .unit {
    font-size: 1.25rem;
    position: relative;
    top: -0.5rem;
    font-weight: 300;
    opacity: 0.4;
}
.figure figcaption {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 500;
    opacity: 0.6;
}




.grid {

}


.weather-icon {
    position: absolute;
    z-index: 1;
    top: -33vh;
    right: 0;
    left: 0;
}
.weather-icon img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.header {
    padding: 2rem 3rem;
}


h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 0.85rem;
    font-weight: 700;
    color: #fff;
    margin: 0.5rem 0;
}
h4 {
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
    opacity: 0.8;
    margin: 1.5rem 0 1rem 0;
}
h5 {
    font-size: 0.85rem;
    font-weight: 700;
    color: #767676;
    margin: 0.5rem 0 0 0;
    text-align: center;
}
p {
    margin: 0 0 0.25rem 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.controller {
    position: fixed;
    right: 1rem;
    top: 1rem;
    background-color: white;
    z-index: 10;

}
.prosa__list {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style: none;
}
.prosa__list li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.65rem;
    margin: 0 0.3rem 0.3rem 0;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
}